:root {
    --primary-500: rgba(77, 93, 250, 1);
    --primary-400: rgba(113, 125, 251, 1);
    --primary-300: rgba(148, 158, 252, 1);
    --primary-200: rgba(184, 190, 253, 1);
    --primary-100: rgba(237, 239, 255, 1);
    --secondary-500: rgba(235, 113, 1, 1);
    --secondary-400: rgba(252, 132, 21, 1);
    --secondary-300: rgba(252, 142, 40, 1);
    --secondary-200: rgba(255, 173, 98, 1);
    --secondary-100: rgba(255, 199, 147, 1);
    --alerts-statussuccess: rgba(74, 222, 128, 1);
    --alerts-statusinfo: rgba(36, 107, 253, 1);
    --alerts-status-warning: rgba(250, 204, 21, 1);
    --alerts-status-error: rgba(247, 85, 85, 1);
    --alerts-status-disabled: rgba(216, 216, 216, 1);
    --alerts-statusbutton-disabled: rgba(109, 121, 234, 1);
    --greyscale-900: rgba(33, 33, 33, 1);
    --greyscale-800: rgba(66, 66, 66, 1);
    --greyscale-700: rgba(97, 97, 97, 1);
    --greyscale-600: rgba(117, 117, 117, 1);
    --greyscale-500: rgba(158, 158, 158, 1);
    --greyscale-400: rgba(189, 189, 189, 1);
    --greyscale-300: rgba(224, 224, 224, 1);
    --greyscale-200: rgba(238, 238, 238, 1);
    --greyscale-100: rgba(245, 245, 245, 1);
    --greyscale-50: rgba(250, 250, 250, 1);
    --others-white: rgba(255, 255, 255, 1);
    --others-black: rgba(0, 0, 0, 1);
    --others-red: rgba(245, 67, 54, 1);
    --others-pink: rgba(234, 30, 97, 1);
    --others-purple: rgba(157, 40, 172, 1);
    --others-deep-purple: rgba(103, 58, 179, 1);
    --others-indigo: rgba(63, 81, 178, 1);
    --others-blue: rgba(26, 150, 240, 1);
    --others-light-blue: rgba(0, 169, 241, 1);
    --others-cyan: rgba(0, 188, 211, 1);
    --othersbright-cyan: rgba(94, 223, 255, 1);
    --others-teal: rgba(0, 150, 137, 1);
    --others-green: rgba(74, 175, 87, 1);
    --others-light-green: rgba(139, 194, 85, 1);
    --others-lime: rgba(205, 220, 76, 1);
    --others-yellow: rgba(255, 235, 79, 1);
    --others-amber: rgba(255, 192, 45, 1);
    --others-orange: rgba(255, 152, 31, 1);
    --others-deep-orange: rgba(255, 87, 38, 1);
    --others-brown: rgba(122, 85, 72, 1);
    --others-blue-grey: rgba(96, 125, 138, 1);
    --darkdark-1: rgba(24, 26, 32, 1);
    --darkdark-2: rgba(31, 34, 42, 1);
    --darkdark-3: rgba(53, 56, 63, 1);
    --darkdark-4: rgba(3, 31, 43, 1);
    --backgroundgreen: rgba(246, 255, 250, 1);
    --backgroundblue: rgba(246, 250, 253, 1);
    --backgroundpink: rgba(255, 245, 245, 1);
    --backgroundyellow: rgba(255, 254, 224, 1);
    --backgroundpurple: rgba(252, 244, 255, 1);
    --h1-bold-font-family: "Urbanist", Helvetica;
    --h1-bold-font-weight: 700;
    --h1-bold-font-size: 48px;
    --h1-bold-letter-spacing: 0px;
    --h1-bold-line-height: 110.00000238418579%;
    --h1-bold-font-style: normal;
    --h2-bold-font-family: "Urbanist", Helvetica;
    --h2-bold-font-weight: 700;
    --h2-bold-font-size: 40px;
    --h2-bold-letter-spacing: 0px;
    --h2-bold-line-height: 110.00000238418579%;
    --h2-bold-font-style: normal;
    --h3-bold-font-family: "Urbanist", Helvetica;
    --h3-bold-font-weight: 700;
    --h3-bold-font-size: 32px;
    --h3-bold-letter-spacing: 0px;
    --h3-bold-line-height: 110.00000238418579%;
    --h3-bold-font-style: normal;
    --h4-bold-font-family: "Urbanist", Helvetica;
    --h4-bold-font-weight: 700;
    --h4-bold-font-size: 24px;
    --h4-bold-letter-spacing: 0px;
    --h4-bold-line-height: 120.00000476837158%;
    --h4-bold-font-style: normal;
    --h5-bold-font-family: "Urbanist", Helvetica;
    --h5-bold-font-weight: 700;
    --h5-bold-font-size: 20px;
    --h5-bold-letter-spacing: 0px;
    --h5-bold-line-height: 120.00000476837158%;
    --h5-bold-font-style: normal;
    --h6-bold-font-family: "Urbanist", Helvetica;
    --h6-bold-font-weight: 700;
    --h6-bold-font-size: 18px;
    --h6-bold-letter-spacing: 0px;
    --h6-bold-line-height: 120.00000476837158%;
    --h6-bold-font-style: normal;
    --body-xlarge-regular-font-family: "Urbanist", Helvetica;
    --body-xlarge-regular-font-weight: 400;
    --body-xlarge-regular-font-size: 18px;
    --body-xlarge-regular-letter-spacing: 0.20000000298023224px;
    --body-xlarge-regular-line-height: 139.9999976158142%;
    --body-xlarge-regular-font-style: normal;
    --body-xlarge-semibold-font-family: "Urbanist", Helvetica;
    --body-xlarge-semibold-font-weight: 600;
    --body-xlarge-semibold-font-size: 18px;
    --body-xlarge-semibold-letter-spacing: 0.20000000298023224px;
    --body-xlarge-semibold-line-height: 139.9999976158142%;
    --body-xlarge-semibold-font-style: normal;
    --body-xlarge-bold-font-family: "Urbanist", Helvetica;
    --body-xlarge-bold-font-weight: 700;
    --body-xlarge-bold-font-size: 18px;
    --body-xlarge-bold-letter-spacing: 0.20000000298023224px;
    --body-xlarge-bold-line-height: 139.9999976158142%;
    --body-xlarge-bold-font-style: normal;
    --body-xlarge-medium-font-family: "Urbanist", Helvetica;
    --body-xlarge-medium-font-weight: 500;
    --body-xlarge-medium-font-size: 18px;
    --body-xlarge-medium-letter-spacing: 0.20000000298023224px;
    --body-xlarge-medium-line-height: 139.9999976158142%;
    --body-xlarge-medium-font-style: normal;
    --body-large-regular-font-family: "Urbanist", Helvetica;
    --body-large-regular-font-weight: 400;
    --body-large-regular-font-size: 16px;
    --body-large-regular-letter-spacing: 0.20000000298023224px;
    --body-large-regular-line-height: 139.9999976158142%;
    --body-large-regular-font-style: normal;
    --body-large-semibold-font-family: "Urbanist", Helvetica;
    --body-large-semibold-font-weight: 600;
    --body-large-semibold-font-size: 16px;
    --body-large-semibold-letter-spacing: 0.20000000298023224px;
    --body-large-semibold-line-height: 139.9999976158142%;
    --body-large-semibold-font-style: normal;
    --body-large-bold-font-family: "Urbanist", Helvetica;
    --body-large-bold-font-weight: 700;
    --body-large-bold-font-size: 16px;
    --body-large-bold-letter-spacing: 0.20000000298023224px;
    --body-large-bold-line-height: 139.9999976158142%;
    --body-large-bold-font-style: normal;
    --body-large-medium-font-family: "Urbanist", Helvetica;
    --body-large-medium-font-weight: 500;
    --body-large-medium-font-size: 16px;
    --body-large-medium-letter-spacing: 0.20000000298023224px;
    --body-large-medium-line-height: 139.9999976158142%;
    --body-large-medium-font-style: normal;
    --body-medium-regular-font-family: "Urbanist", Helvetica;
    --body-medium-regular-font-weight: 400;
    --body-medium-regular-font-size: 14px;
    --body-medium-regular-letter-spacing: 0.20000000298023224px;
    --body-medium-regular-line-height: 139.9999976158142%;
    --body-medium-regular-font-style: normal;
    --body-medium-semibold-font-family: "Urbanist", Helvetica;
    --body-medium-semibold-font-weight: 600;
    --body-medium-semibold-font-size: 14px;
    --body-medium-semibold-letter-spacing: 0.20000000298023224px;
    --body-medium-semibold-line-height: 139.9999976158142%;
    --body-medium-semibold-font-style: normal;
    --body-medium-bold-font-family: "Urbanist", Helvetica;
    --body-medium-bold-font-weight: 700;
    --body-medium-bold-font-size: 14px;
    --body-medium-bold-letter-spacing: 0.20000000298023224px;
    --body-medium-bold-line-height: 139.9999976158142%;
    --body-medium-bold-font-style: normal;
    --body-medium-medium-font-family: "Urbanist", Helvetica;
    --body-medium-medium-font-weight: 500;
    --body-medium-medium-font-size: 14px;
    --body-medium-medium-letter-spacing: 0.20000000298023224px;
    --body-medium-medium-line-height: 139.9999976158142%;
    --body-medium-medium-font-style: normal;
    --body-small-regular-font-family: "Urbanist", Helvetica;
    --body-small-regular-font-weight: 400;
    --body-small-regular-font-size: 12px;
    --body-small-regular-letter-spacing: 0.20000000298023224px;
    --body-small-regular-line-height: normal;
    --body-small-regular-font-style: normal;
    --body-small-semibold-font-family: "Urbanist", Helvetica;
    --body-small-semibold-font-weight: 500;
    --body-small-semibold-font-size: 12px;
    --body-small-semibold-letter-spacing: 0.20000000298023224px;
    --body-small-semibold-line-height: normal;
    --body-small-semibold-font-style: normal;
    --body-small-bold-font-family: "Urbanist", Helvetica;
    --body-small-bold-font-weight: 700;
    --body-small-bold-font-size: 12px;
    --body-small-bold-letter-spacing: 0.20000000298023224px;
    --body-small-bold-line-height: normal;
    --body-small-bold-font-style: normal;
    --body-small-medium-font-family: "Urbanist", Helvetica;
    --body-small-medium-font-weight: 500;
    --body-small-medium-font-size: 12px;
    --body-small-medium-letter-spacing: 0.20000000298023224px;
    --body-small-medium-line-height: normal;
    --body-small-medium-font-style: normal;
    --body-xsmall-regular-font-family: "Urbanist", Helvetica;
    --body-xsmall-regular-font-weight: 400;
    --body-xsmall-regular-font-size: 10px;
    --body-xsmall-regular-letter-spacing: 0.20000000298023224px;
    --body-xsmall-regular-line-height: normal;
    --body-xsmall-regular-font-style: normal;
    --body-xsmall-semibold-font-family: "Urbanist", Helvetica;
    --body-xsmall-semibold-font-weight: 600;
    --body-xsmall-semibold-font-size: 10px;
    --body-xsmall-semibold-letter-spacing: 0.20000000298023224px;
    --body-xsmall-semibold-line-height: normal;
    --body-xsmall-semibold-font-style: normal;
    --body-xsmall-bold-font-family: "Urbanist", Helvetica;
    --body-xsmall-bold-font-weight: 700;
    --body-xsmall-bold-font-size: 10px;
    --body-xsmall-bold-letter-spacing: 0.20000000298023224px;
    --body-xsmall-bold-line-height: normal;
    --body-xsmall-bold-font-style: normal;
    --body-xsmall-medium-font-family: "Urbanist", Helvetica;
    --body-xsmall-medium-font-weight: 500;
    --body-xsmall-medium-font-size: 10px;
    --body-xsmall-medium-letter-spacing: 0.20000000298023224px;
    --body-xsmall-medium-line-height: normal;
    --body-xsmall-medium-font-style: normal;
    --card-shadow-1: 0px 4px 60px 0px rgba(4, 6, 15, 0.08);
    --card-shadow-2: 0px 4px 60px 0px rgba(4, 6, 15, 0.05);
    --card-shadow-3: 0px 20px 100px 0px rgba(4, 6, 15, 0.08);
    --button-shadow-1: 4px 8px 24px 0px rgba(77, 93, 250, 0.25);
    --button-shadow-2: 4px 12px 32px 0px rgba(77, 93, 250, 0.2);
    --button-shadow-3: 4px 16px 32px 0px rgba(77, 93, 250, 0.2);
  }
  